body {
	background-color: #0a0a23;
}

#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
}

#game {
	min-width: 600px;
	max-width: 600px;
	max-height: 600px;
	background-color: #ffffff;
	color: #ffffff;
	margin: 30px auto 0px;
	padding: 10px;
}

#controls,
.stats {
	border: 1px solid #0a0a23;
	padding: 5px;
	color: #0a0a23;
}

#monsterStats {
	display: none;
	border: 1px solid #0a0a23;
	padding: 5px;
	color: #ffffff;
	background-color: #c70d0d;
}

#store {
	display: none;
	flex-wrap: wrap;
	padding: 5px;
	color: #ffffff;
	background-color: teal;
	height: 400px;
	overflow-y: scroll;
}

#bestiary {
	display: none;
	flex-wrap: wrap;
	padding: 5px;
	color: #ffffff;
	background-color: teal;
	height: 400px;
	overflow-y: scroll;
}

#bestiary .card {
	border: 4px solid #ccc;
	padding: 4px;
	margin: 4px;
	width: 150px;
}
.storeItemCard {
	border: 4px solid #ccc;
	padding: 4px;
	margin: 4px;
	width: 150px;
}

.stat {
	padding-right: 10px;
}

button {
	cursor: pointer;
	color: #0a0a23;
	background-color: #feac32;
	background-image: linear-gradient(#fecc4c, #ffac33);
	border: 3px solid #feac32;
}
