body {
	background-color: #0a0a23;
	margin: 0;
	font-family: "Arial", sans-serif;
}

#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
}

#game {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 700px;
	max-height: 700px;
	background-color: #ffffff;
	color: #0a0a23;
	margin: 30px auto 0;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#controls,
.stats {
	border: 1px solid #0a0a23;
	padding: 10px;
	color: #0a0a23;
	margin-bottom: 10px;
	border-radius: 8px;
}

#monsterStats {
	display: none;
	border: 1px solid #0a0a23;
	padding: 10px;
	color: #ffffff;
	background-color: #c70d0d;
	margin-bottom: 10px;
}

#store {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px;
	color: #ffffff;
	background-color: teal;
	height: 400px;
	overflow-y: scroll;
}

#bestiary {
	display: none;
	flex-wrap: wrap;
	padding: 5px;
	color: #ffffff;
	background-color: teal;
	height: 400px;
	overflow-y: scroll;
}

#bestiary .card {
	border: 4px solid #ccc;
	padding: 4px;
	margin: 4px;
	width: 150px;
}
.cardContainer {
	display: flex;
	padding: 20px;
	color: #ffffff;
	background-color: rgb(0, 128, 128);
	height: 100%;
	overflow-y: auto;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.storeItemCard {
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 15px;
	transition: transform 0.3s ease-in-out;
	width: 100%;
	max-width: 200px;
}

.storeItemCard:hover {
	transform: scale(1.05);
}

.storeItemCard h3 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.storeItemCard p {
	margin: 0;
	margin-bottom: 4px;
}

.storeItemCard p:nth-child(2) {
	font-weight: bold;
	color: #cefe12;
}

.stat {
	padding-right: 10px;
}

.bestiaryCard {
	background-color: rgba(185, 10, 10, 0.233);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 15px;
	transition: transform 0.3s ease-in-out;
	width: 100%;
	max-width: 200px;
}

button {
	appearance: button;
	background-color: #1899d6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: din-round, sans-serif;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 10px;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 13px 16px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transform: translateZ(0);
	transition: filter 0.2s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

button:after {
	background-clip: padding-box;
	background-color: #1cb0f6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	bottom: -4px;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

button:main,
button:focus {
	user-select: auto;
}

button:hover:not(:disabled) {
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
}

button:disabled {
	cursor: auto;
}

button:active {
	border-width: 4px 0 0;
	background: none;
}

/* Media Queries */

@media (max-width: 768px) {
	#game {
		max-width: 350px;
		height: 800px;
	}
	#controls {
		flex: 1;
		margin-right: 10px;
	}
	button {
		font-size: 0.8em;
		width: 100%;
		margin: 4px 0;
	}
	#store {
		flex: 2;
	}
	#store .cardContainer {
		display: flex;
		flex-wrap: wrap;
	}
	#store .storeItemCard {
		max-width: 100%;
	}
	#monsterStats {
		flex: 1;
	}
}
